@import './Home';
@import "./Navbar";
@import "./Responcive";
@import "./Intro";
@import "./Currency";

*{
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'kalamehweb';

}

@font-face {
    font-family: 'kalamehweb';
    src: url('../public/fonts/woff/KalamehWeb-Medium.woff') format('woff');
    src : url('../public/fonts/woff2/KalamehWeb-Medium.woff2') format('woff2'),
  
}

$title-color : #000;
$medium-Color : #534f4f;
$desc-color : #999;
$main-color : hsl(237deg 96% 62%);
$light-color : #fff;


body{
    font-family: "kalamehweb";
}





.btn-main{
    background-color: $main-color;
    color: $light-color;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 17px;
    outline: none;
     border: none;
     font-family: "kalamehweb";
     cursor: pointer;
    &:hover{
        background-color: rgb(41, 48, 194);
    }
}
